<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;" (click)="onAddModal()">Add Employee <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="listing-employee">
  <div class="alert alert-danger" *ngIf="deleteStatus" role="alert">
    A record has been deleted.
  </div>
  <div *ngIf="!loadingEmployees; else loading">
    <div class="row mt-3" *ngIf="employees.length > 0 && !loadingEmployees; else emptyEmployee">
      <div class="col-md-6 col-xl-3" *ngFor="let employee of employees">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href="">
                <img *ngIf="employee.fileUrl; else emptyImage" src="{{ employee.fileUrl }}" alt=""
                  class="img-fluid rounded-circle w-50">

                <ng-template #emptyImage>
                  <img
                    src="https://media.istockphoto.com/vectors/missing-image-of-a-person-placeholder-vector-id1288129985?k=20&m=1288129985&s=612x612&w=0&h=OHfZHfKj0oqIDMl5f_oRqH13MHiB63nUmySYILbWbjE="
                    alt="" class="img-fluid rounded-circle w-50">
                </ng-template>
              </a>
            </div>
            <div class="col-7 card-title align-self-center mb-0">
              <h5 class="text-nowrap">{{ employee.name }}</h5>
              <p class="m-0">{{ employee.jobTitle }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{ employee.email
                }}</a></li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : <span
                *ngIf="employee.phone != null; else emptyPhone">{{ employee.phone }}</span>
              <ng-template #emptyPhone><b>N/A</b></ng-template>
            </li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(employee, 'edit')" class="btn btn-warning tooltips" data-placement="top"
                data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="deleteEmployee(employee.id)" class="btn btn-secondary tooltips" data-placement="top"
                data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Add Employee Modal -->
  <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="employeeModalLabel">Employee {{ employee?.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger mt-3" *ngIf="errorStatus" role="alert">
            {{ errorMessage }}
          </div>
          <form #editForm="ngForm">
            <input type="hidden" ngModel="{{ employee?.id }}" name="id" id="id">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel="{{employee?.name}}" name="name" class="form-control" id="name" required
                aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel="{{employee?.email}}" name="email" class="form-control" id="email" required
                placeholder="Email">
            </div>
            <div class="form-group">
              <label for="phone">Job title</label>
              <input type="text" ngModel="{{employee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle"
                required placeholder="Job title">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel="{{employee?.phone}}" name="phone" class="form-control" id="phone" name="phone"
                required placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="phone">Image</label>
              <div class="uploadOuter">
                <label for="uploadFile" class="btn btn-primary">Upload Image</label>
                <strong>OR</strong>
                <span class="dragBox">
                  Darg and Drop image here
                  <input type="file" (change)="dragNdrop($event)" (dragover)="drag()" (drop)="drop()" id="uploadFile" />
                  <input type="hidden" ngModel="{{ employee?.imagePath }}" name="imagePath" id="imagePath">
                </span>
              </div>
              <div id="preview"></div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="onUpdateEmployee(editForm)" *ngIf="employee?.id; else createButton"
                class="btn btn-primary">Save
                changes</button>
              <ng-template #createButton>
                <button (click)="onAddEmployee(editForm)" [disabled]="!editForm.valid" class="btn btn-primary">Save
                  changes</button>
              </ng-template>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{employee?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">

            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="text" ngModel="{{employee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
                placeholder="Image URL">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



  <ng-template #emptyEmployee>
    <div class="alert alert-danger mt-3" role="alert">
      No Employees Available
    </div>
  </ng-template>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>
