<div class="row">
  <div class="col-xl-3" *ngFor="let item of createRange(4);">
    <div class="card skeleton-gray">
      <div class="icon skeleton-white"></div>
      <div class="bottom">
        <h1 class="heading skeleton-gray">My Title</h1>
        <p class="subHeading skeleton-gray">Sub Heading</p>
      </div>
    </div>

  </div>
</div>
