body {
  font-family: arial;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 300px;
  width: 200px;
  margin: 10px;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px rgb(200, 200, 200);
  overflow: hidden;
  background-size: cover;
}

.icon {
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
  margin: 15px;
  background-image: url('https://thumbs.dreamstime.com/b/person-icon-flat-style-man-symbol-person-icon-flat-style-man-symbol-isolated-white-background-simple-people-abstract-icon-118611127.jpg');
  background-size: cover;
  background-position: center;
}

.bottom {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 20px;
  margin: 2px 10px;
}

.subHeading {
  font-size: 15px;
  margin: 2px 10px;
}

.skeleton-gray {
  background: rgb(156, 156, 156);
  background-image: linear-gradient(115deg, rgba(196, 196, 196, 1) 20%, rgba(216, 216, 216, 1) 30%, rgba(216, 216, 216, 1) 35%, rgba(196, 196, 196, 1) 40%);
  background-position: 0% 0;
  background-size: 300% 200%;
  color: rgba(0, 0, 0, 0);
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  60%,
  100% {
    background-position: -50% 0;
  }
}

.skeleton-white {
  background-image: linear-gradient(white 100%, transparent 0);
}
